In [1]:
# Import packages
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import QuantileRegressor
from sklearn.metrics import mean_squared_error

In [23]:
df = pd.read_csv('..\\data\\shelter_neighbourhood_features.csv')

In [24]:
# Process date column
df["OCCUPANCY_DATE"] = pd.to_datetime(df["OCCUPANCY_DATE"])
df["year"] = df["OCCUPANCY_DATE"].dt.year
df["month"] = df["OCCUPANCY_DATE"].dt.month
df["day"] = df["OCCUPANCY_DATE"].dt.day
df = df.drop(columns=["OCCUPANCY_DATE"])

In [25]:
# Drop columns that are not useful
df = df.drop(
    columns=[
        "ORGANIZATION_NAME",
        "SHELTER_GROUP",
        "LOCATION_NAME",
        "LOCATION_ADDRESS",
        "LOCATION_POSTAL_CODE",
        "LOCATION_CITY",
        "LOCATION_PROVINCE",
        "PROGRAM_NAME",
        "CAPACITY_ACTUAL_BED",
        "CAPACITY_FUNDING_BED",
        "OCCUPIED_BEDS",
        "UNOCCUPIED_BEDS",
        "UNAVAILABLE_BEDS",
        "CAPACITY_TYPE",
        "CAPACITY_ACTUAL_ROOM",
        "CAPACITY_FUNDING_ROOM",
        "OCCUPIED_ROOMS",
        "UNOCCUPIED_ROOMS",
        "UNAVAILABLE_ROOMS",
        "OCCUPANCY_RATE_BEDS",
        "OCCUPANCY_RATE_ROOMS",
    ]
)

In [29]:
# Encode categorical variables
le1 = LabelEncoder()
df["SECTOR"] = le1.fit_transform(df["SECTOR"])

le2 = LabelEncoder()
df["PROGRAM_MODEL"] = le2.fit_transform(df["PROGRAM_MODEL"])

le3 = LabelEncoder()
df["OVERNIGHT_SERVICE_TYPE"] = le3.fit_transform(df["OVERNIGHT_SERVICE_TYPE"])

le4 = LabelEncoder()
df["PROGRAM_AREA"] = le4.fit_transform(df["PROGRAM_AREA"])

le5 = LabelEncoder()
df["Neighbourhood"] = le5.fit_transform(df["Neighbourhood"])

le6 = LabelEncoder()
df["TSNS 2020 Designation"] = le6.fit_transform(df["TSNS 2020 Designation"])

In [26]:
df[df.columns[:50]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133193 entries, 0 to 133192
Data columns (total 50 columns):
 #   Column                                                                            Non-Null Count   Dtype
---  ------                                                                            --------------   -----
 0   _id                                                                               133193 non-null  int64
 1   ORGANIZATION_ID                                                                   133193 non-null  int64
 2   SHELTER_ID                                                                        133193 non-null  int64
 3   LOCATION_ID                                                                       133193 non-null  int64
 4   PROGRAM_ID                                                                        133193 non-null  int64
 5   SECTOR                                                                            133193 non-null  object
 6   PROGRAM_MODEL                                                                     133193 non-null  object
 7   OVERNIGHT_SERVICE_TYPE                                                            133193 non-null  object
 8   PROGRAM_AREA                                                                      133193 non-null  object
 9   SERVICE_USER_COUNT                                                                133193 non-null  int64
 10  Neighbourhood                                                                     133193 non-null  object
 11  LAT                                                                               133193 non-null  float64
 12  LON                                                                               133193 non-null  float64
 13  Neighbourhood Number                                                              133193 non-null  int64
 14  TSNS 2020 Designation                                                             133193 non-null  object
 15  Total - Age groups of the population - 25% sample data                            133193 non-null  int64
 16  0 to 14 years                                                                     133193 non-null  int64
 17  0 to 4 years                                                                      133193 non-null  int64
 18  5 to 9 years                                                                      133193 non-null  int64
 19  10 to 14 years                                                                    133193 non-null  int64
 20  15 to 64 years                                                                    133193 non-null  int64
 21  15 to 19 years                                                                    133193 non-null  int64
 22  20 to 24 years                                                                    133193 non-null  int64
 23  25 to 29 years                                                                    133193 non-null  int64
 24  30 to 34 years                                                                    133193 non-null  int64
 25  35 to 39 years                                                                    133193 non-null  int64
 26  40 to 44 years                                                                    133193 non-null  int64
 27  45 to 49 years                                                                    133193 non-null  int64
 28  50 to 54 years                                                                    133193 non-null  int64
 29  55 to 59 years                                                                    133193 non-null  int64
 30  60 to 64 years                                                                    133193 non-null  int64
 31  65 years and over                                                                 133193 non-null  int64
 32  65 to 69 years                                                                    133193 non-null  int64
 33  70 to 74 years                                                                    133193 non-null  int64
 34  75 to 79 years                                                                    133193 non-null  int64
 35  80 to 84 years                                                                    133193 non-null  int64
 36  85 years and over                                                                 133193 non-null  int64
 37  85 to 89 years                                                                    133193 non-null  int64
 38  90 to 94 years                                                                    133193 non-null  int64
 39  95 to 99 years                                                                    133193 non-null  int64
 40  Total - Distribution (%) of the population by broad age groups - 25% sample data  133193 non-null  int64
 41  0 to 14 years.1                                                                   133193 non-null  float64
 42  15 to 64 years.1                                                                  133193 non-null  float64
 43  65 years and over.1                                                               133193 non-null  float64
 44  85 years and over.1                                                               133193 non-null  float64
 45  Average age of the population                                                     133193 non-null  float64
 46  Median age of the population                                                      133193 non-null  float64
 47  Total - Persons in private households - 25% sample data                           133193 non-null  int64
 48  Total - Persons in census families                                                133193 non-null  int64
 49  Married spouses or common-law partners                                            133193 non-null  int64
dtypes: float64(8), int64(36), object(6)
memory usage: 50.8+ MB

In [30]:
# Split the DataFrame into training and testing sets
train_df = df[df['year'].isin([2021, 2022])]
test_df = df[df['year'] == 2023]

In [31]:
# Shuffle the data
shuffled_train_df = train_df.sample(frac=1).reset_index(drop=True)
shuffled_test_df = test_df.sample(frac=1).reset_index(drop=True)

In [32]:
# Split into features and target
x_train = shuffled_train_df.drop("SERVICE_USER_COUNT", axis=1)
y_train = shuffled_train_df["SERVICE_USER_COUNT"]
x_test = shuffled_test_df.drop("SERVICE_USER_COUNT", axis=1)
y_test = shuffled_test_df["SERVICE_USER_COUNT"]

In [33]:
# Apply PCA
pca = PCA(n_components=0.99)  # keep 99% of variance
x_train_pca = pca.fit_transform(x_train)
x_test_pca = pca.transform(x_test)

In [34]:
model = QuantileRegressor(quantile=0.5, alpha=0.01, solver='highs')
model.fit(x_train_pca, y_train)

y_pred = model.predict(x_test_pca)
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 7946.015793698614

In [35]:
comparison_df = pd.DataFrame({'Predicted': y_pred, 'Actual': y_test.reset_index(drop=True)})
print(comparison_df)

       Predicted  Actual
0      46.434634     279
1      41.481406      50
2      36.002080      72
3      46.429144     215
4      36.038249      83
...          ...     ...
36400  41.486314      50
36401  36.049338      82
36402  36.030785      94
36403  28.090470      20
36404  31.686656      39

[36405 rows x 2 columns]